/*Base*/
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

/*Layout*/



/*Module*/

.card {
  display: inline-block;
  margin: 35px 0 35px 35px;
  width: 205px;
}

.card--selection {
  width: 205px;
  border: 2px solid #99c2ff;
  border-radius: 1px;
}

.selection--image {
  position: relative;
  width: 205px;
  height: 205px;
  border-bottom: 2px solid #99c2ff;
  perspective: 1000;
}

.flipper--front, .flipper--back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.image--image {
  width: 175px;
  height: auto;
  padding: 15px 0 15px 16px;
}

.image--flipper {
  width: 205;
  position: relative;
  transition: 0.6s;
}

.image--rotate {
  background-image: url(../images/icons/rotate.png);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  border-left: 2px solid #99c2ff;
  border-bottom: 2px solid #99c2ff;
  border-radius: 1px;
}

.selection--options {
  width: 205px;
}

.options--button {
  display: inline-block;
  width: 39px;
  height: 30px;
  border-right: 2px solid #99c2ff;
  position: relative;
  margin-right: -3px;
  background-size: contain;
  background-position: center;
}

.button--1 {
  background-image: url(../images/icons/button_1.png);
}

.button--2 {
  background-image: url(../images/icons/button_2.png);
}

.button--3 {
  background-image: url(../images/icons/button_3.png);
}

.options--button:last-child {
  border-right: none;
}

.button--icon-img {
  width: 39px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.button--icon-hover {
  width: 39px;
  height: 30px;
}

.options--button:last-child .button--icon-img, .options--button:last-child .button--icon-hover {
  width: 41px;
}

.button--icon-text {
  display: inline-block;
  color: #99c2ff;
  font-size: .8rem;
  padding: 7px 0 0 12px;
}

.button--size-menu {
  width: 47px;
  height: 115px;
  border: 2px solid #99c2ff;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: -6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size-menu--icon {
  margin: 3px 0;
}

.size-menu--small {
  height: 12px;
  width: 15px;
}

.size-menu--medium {
  height: 15px;
  width: 18px;
}

.size-menu--large {
  height: 18px;
  width: 21px;
}

.size-menu--xl {
  height: 21px;
  width: 24px;
}

.button--color-menu {
  width: 47px;
  height: 45px;
  border: 2px solid #99c2ff;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: -6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button--color-menu, .button--size-menu{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
  z-index: 3;
}

.color-menu--icon {
  width: 15px;
  height: 15px;
  margin: 0 3px 0 3px;
}

.color-menu--blue {
  background-color: #81BCE6;
}

.color-menu--pink {
  background-color: #D482AA;
}

.color-menu--yellow {
  background-color: #D8AD7A;
}

.color-menu--green {
  background-color: #29a329;
}

.button--icon-color {
  width: 16px;
  height: 16px;
  margin: 7px 0 0 11px;
}

.card--footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer--name {
  padding: 10px 0 0 5px;
  display: inline-block;
  font-size: 1rem;
  color: #99c2ff;
}

.footer--price {
  display: inline-block;
  font-weight: bold;
  padding: 9px 5px 0 0;
  color: #80b3ff;
}

/*State*/
.selection--image:hover .image--flipper {
  transform: rotateY(180deg);
}

.flipper--front {
	z-index: 2;
	transform: rotateY(0deg);
}

.flipper--back {
	transform: rotateY(180deg);
}

.image--rotate:hover {
  background-image: url(../images/icons/rotate_hover.png);
}

.button--1:hover {
  background-image: url(../images/icons/button_1_hover.png);
}

.button--2:hover {
  background-image: url(../images/icons/button_2_hover.png);
}

.button--3:hover {
  background-image: url(../images/icons/button_3_hover.png);
  border-right: 2px solid #55a4dd;
}

.options--button:hover {
  color: #fff;
  background-color: #55a4dd;
}

.options--button:hover .button--icon-text {
  color: #fff;
}

.options--button:hover .button--icon-color {
  border: 1px solid #fff;
  margin: 6px 0 0 10px;
}

.options--size-hover:hover .button--size-menu, .options--color-hover:hover .button--color-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
}

/*Utils*/
