/*Base*/
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body {
  font-family: "Lato", sans-serif;
}

/*Layout*/

/*Module*/

.card {
  margin: 35px;
  width: 205px;
}

.card--selection {
  width: 205px;
  border: 2px solid #99c2ff;
  border-radius: 1px;
}

.selection--image {
  position: relative;
  width: 205px;
  border-bottom: 2px solid #99c2ff;
}

.image--image {
  width: 175px;
  height: auto;
  padding: 15px 0 15px 16px;
}

.image--rotate {
  position: absolute;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  border-left: 2px solid #99c2ff;
  border-bottom: 2px solid #99c2ff;
  border-radius: 1px;
}

.options--button {
  float: left;
  width: 39px;
  height: 30px;
  border-right: 2px solid #99c2ff;
  position: relative;
}

.options--button:last-child {
  border-right: none;
}

.button--icon-img {
  width: 39px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.button--icon-hover {
  width: 39px;
  height: 30px;
}

.options--button:last-child .button--icon-img, .options--button:last-child .button--icon-hover {
  width: 41px;
}

.button--icon-text {
  display: inline-block;
  color: #99c2ff;
  font-size: .8rem;
  padding: 7px 0 0 12px;
}

.button--icon-color {
  width: 16px;
  height: 16px;
  background-color: #80b3ff;
  margin: 7px 0 0 11px;
}

.card--footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer--name {
  padding: 10px 0 0 5px;
  display: inline-block;
  font-size: 1rem;
  color: #99c2ff;
}

.footer--price {
  display: inline-block;
  font-weight: bold;
  padding: 9px 5px 0 0;
  color: #80b3ff;
}

/*State*/
.options--button:hover .button--icon-img {
  display: none;
}

.options--button:hover {
  color: #fff;
  background-color: #4d94ff;
}

.options--button:hover .button--icon-text {
  color: #fff;
}

.options--button:hover .button--icon-color {
  border: 1px solid #fff;
  margin: 6px 0 0 10px;
}

/*Utils*/
.clearfix {
  overflow: auto;
  zoom: 1;
}
